@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap:400,700,900');
/* @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap') */
:root {
    /*light mode colors*/
    --light-blue:#0079FF;
    --light-gray:#697C9A;
    --blue-gray:#4B6A9B;
    --dark-gray:#2B3442;
   
    --dark-mode-conteiner:#1E2A47;
  

}

.light-theme {
    --main-background:#F6F8FF;
    --header-font-color:#222731;
    --followers-conteiner:#F6F8FF;
    --paragraf-color:#4B6A9B;
    --info-conteiner-background:#FEFEFE;
    --search-box-theme:#fff;
    --placeholder-font-color:#4B6A9B;
    --toggle-word-font:#697C9A
}

.dark-theme{
    --main-background:#141D2F;
    --header-font-color:#fff;
    --followers-conteiner:#141D2F;
    --paragraf-color:#fff;
     --info-conteiner-background:#1E2A47;
     --search-box-theme:#1E2A47;
     --placeholder-font-color:#fff;
     --toggle-word-font:#fff;

}
body{
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    /* line-height: 25px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

h1{
    font-size: 2.2vw;
    font-weight: 900;
    line-height: 2.2vw;
    margin: 0;
    color: var(--header-font-color);
}



p{
    font-size: 1.4vw;
     color: var(--paragraf-color);
     margin: 0;
}

.main {
    height: 100%;
    background-color: var(--main-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-conteiner{
    width: 75%;
    height: 70%;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



.devifinder{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3vh;
    background-color: var(--main-background);
}

.devifinder>div{
    display: flex;
    align-items: center;
   
}
.devifinder #svgMoonSun{
    margin-left:1.2vw;
}
.change-theme {
    font-size: 1.6vw;
    font-weight: bold;
    letter-spacing: 0.2vw;
    color:var( --toggle-word-font);
}

.change-theme:hover{
    cursor: pointer;
}

.search-box{
    width: 100%;
    height: 13%;
    border-radius: 8px;
    background-color: var( --search-box-theme);
    box-shadow: 0 16px 30px -10px rgba(70, 96, 187,19.86%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4vh;
    border:1px solid blue;
}

.search-box>div:first-of-type{
    width: 50%;
    display: flex;
}

.search-box>div:nth-of-type(2) {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-box>div:first-of-type img{
     margin: 0 1vw;
    width: 2.2vw;
    height: auto;
}


.search-box button{
 /* margin-left: auto; */
 margin-right: 1vw;
 width: 10vw;
 height: 80%;
 background-color: var(--light-blue);
 color: #fff;
 font-family: 'Space mono', monospace ;
 font-size:1.5vw;
 border: none;
 border-radius: 8px;
 letter-spacing: 0.1vw;
 
}

.search-box button:hover{
    cursor: pointer;
    background-color:#60ABFF;
}

.search-box input {
     -webkit-appearance:none;
    -moz-appearance:none; 
    -o-appearance:none;
    -ms-appearance:none;
    appearance: none;
    outline: none;
    border: none;
    font-family:'Space Mono', monospace;
    width:30vw;
    color:var(--blue-gray);
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    background-color: var(--search-box-theme);
}

.search-box input::placeholder{
    color:var(--placeholder-font-color);
    
}

.search-result {
    border:1px solid red;
    display: block;
    width: auto;
    height: 80%;
    /* margin-left: auto; */
    margin-right: 1vw;
    font-size: 1.5vw;
    color: red;
    font-weight: 700;
    text-align: right;
    line-height: 6vw;
    /* display: none; */

}

.github-info{
    border: 1px solid green;
    height: 70%;
    width: 100%;
    display: flex;
    background-color: var(--info-conteiner-background);
     box-shadow: 0 16px 30px -10px rgba(70, 96, 187,19.86%);
}

.left-image{
    height: 100%;
    width: 25%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.left-image img{
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin-top: 1vh;
}

.right-content{
    height: auto;
    width: 75%;
    border: 1px solid black;

}

.main-info{
    width: 100%;
    height: auto;
    border: 1px solid brown;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */


}

.main-info>div:nth-of-type(1){
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    justify-content: space-around;
}

.main-info>div:nth-of-type(1) p:first-of-type{
   margin: 0;
   color: var(--light-blue);

}

.main-info>div:nth-of-type(1) p:nth-of-type(2){
   margin: 0;
  
}

.main-info p{
    margin-top:3vh;
}

.joined {
    margin-left: auto;

}

.joined p{
    margin: 0;
}

.followers{
    width: 100%;
    height: 25%;
    background-color: var(--followers-conteiner);
    display: flex;
    /* flex-direction: row; */
}

.followers>div{
    height: 100%;
    width: 33%;
    border: 1px solid gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bottom-info{
    display: flex;
    flex-wrap: wrap;
    height: 40%;
}
.bottom-info>div{
    height: 50%;
    width: 49%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    
}

.bottom-info>div img{
    height: 5vh;
    margin-right:2vw;
    
}

.twitter p{
    color: #979797;
}



@media screen and (max-width:370px){
    h1{
        line-height: normal;
    }
    .search-conteiner{
        width: 92%;
    }
    .main-info{
        flex-direction: column;
       
    
    }
    .left-image{
        width: 0;
    }
   
    .joined{
        margin: 0;
    }
    .main-info>div:nth-of-type(1){
        height: 5vh;
    }
   .main-info>div:nth-of-type(1) p:first-of-type{
       margin-bottom: 1.5vh;
   }

   .main-info p{
       margin-top: 1vh;
       height: 5vh;
      
   }
    
    .followers{
        height: 15%;
    }
    .bottom-info{
        height: 20%;
    }
    .bottom-info>div{
        width: 100%;
    }

    .bottom-info>div img{
    height: 3vh;
    margin-right:2vw;
    
}


.right-content{
    width: 100%;
}
.joined p{
    width: 70vw;
    margin-left: 18vw;
}

.main-info>div:nth-of-type(1){
    margin-left:18vw;
   
}
.left-image img{
    width: 13%;
    height: auto;
    position: absolute;
    top: 37vh;
    left: 7vw;
    border-radius: 50%;
  
}
}

