@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap:400,700,900');
/* @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap') */
:root {
    /*light mode colors*/
    --light-blue:#0079FF;
    --light-gray:#697C9A;
    --blue-gray:#4B6A9B;
    --dark-gray:#2B3442;
   
    --dark-mode-conteiner:#1E2A47;
  

}

.light-theme {
    --main-background:#F6F8FF;
    --header-font-color:#222731;
    --followers-conteiner:#F6F8FF;
    --paragraf-color:#4B6A9B;
    --info-conteiner-background:#FEFEFE;
    --search-box-theme:#fff;
    --placeholder-font-color:#4B6A9B;
    --toggle-word-font:#697C9A;
    --not-available:#979797;
}

.dark-theme{
    --main-background:#141D2F;
    --header-font-color:#fff;
    --followers-conteiner:#141D2F;
    --paragraf-color:#fff;
     --info-conteiner-background:#1E2A47;
     --search-box-theme:#1E2A47;
     --placeholder-font-color:#fff;
     --toggle-word-font:#fff;
     --not-available:#979797;

}
body{
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

h1{
    font-size: 2vw;
    font-weight: 900;
    line-height: 2.2vw;
    margin: 0;
    color: var(--header-font-color);
}



p{
    font-size: 1.2vw;
     color: var(--paragraf-color);
     margin: 0;
}

.main {
    height: 100%;
    background-color: var(--main-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-conteiner{
    width: 55%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



.devifinder{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3vh;
    background-color: var(--main-background);
}

.devifinder>div{
    display: flex;
    align-items: center;
   
}
.devifinder #svgMoonSun{
    margin-left:1.2vw;
}
.change-theme {
    font-size: 1.2vw;
    font-weight: bold;
    letter-spacing: 0.2vw;
    color:var( --toggle-word-font);
}

.change-theme:hover{
    cursor: pointer;
}

.search-box{
    width: 100%;
    height: 13%;
    border-radius: 8px;
    background-color: var( --search-box-theme);
    box-shadow: 0 16px 30px -10px rgba(70, 96, 187,19.86%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4vh;
}

.search-box>div:first-of-type{
    width: 50%;
    display: flex;
}

.search-box>div:nth-of-type(2) {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-box>div:first-of-type img{
     margin: 0 1vw;
    width: 8%;
    height: auto;
}


.search-box button{
 margin-right: 0.5vw;
 width: 10vw;
 height: 80%;
 background-color: var(--light-blue);
 color: #fff;
 font-family: 'Space mono', monospace ;
 font-size:1.2vw;
 border: none;
 border-radius: 8px;
 letter-spacing: 0.1vw;
 
}

.search-box button:hover{
    cursor: pointer;
    background-color:#60ABFF;
}

.search-box input {
     -webkit-appearance:none;
    -moz-appearance:none; 
    -o-appearance:none;
    -ms-appearance:none;
    appearance: none;
    outline: none;
    border: none;
    font-family:'Space Mono', monospace;
    width:30vw;
    color:var(--paragraf-color);
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    background-color: var(--search-box-theme);
}

.search-box input::placeholder{
    color:var(--placeholder-font-color);
    
}

.search-result {
    display: block;
    width: auto;
    height: 80%;
    margin-right: 1vw;
    font-size: 1.2vw;
    color: red;
    font-weight: 700;
    text-align: right;
    line-height: 6vw;
    display: none;

}

.github-info{
    height: 75%;
    width: 100%;
    display: flex;
    background-color: var(--info-conteiner-background);
     box-shadow: 0 16px 30px -10px rgba(70, 96, 187,19.86%);
     
     border-radius: 8px;
}

.left-image{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.left-image img{
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin-top: 5vh;
}

.right-content{
    height: 100%;
    width: 75%;
    margin-right: 4vw;

}

.main-info{
    width: 100%;
    min-height: 30%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;


}

.main-info>div:nth-of-type(1){
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-info>div:nth-of-type(1) p:first-of-type{
   margin: 0;
   color: var(--light-blue);

}

.main-info>div:nth-of-type(1) p:nth-of-type(2){
   margin: 0;
  
}

.main-info p{
    margin-top:3vh;
    height: fit-content;
    margin-bottom:2vh;
}

.joined {
    margin-left: auto;
    width: 48%;

}

.joined p{
    margin: 0;
    text-align: right;
}

.followers{
    width: 100%;
    height: 20%;
    background-color: var(--followers-conteiner);
    display: flex;
    border-radius: 8px;
}

.followers>div{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bottom-info{
    display: flex;
    flex-wrap: wrap;
    height: 22%;
    max-height: 30%;
    margin-top: 4vh;
    margin-bottom: 4vh;
   
}
.bottom-info>div{
    height: 50%;
    width: 49%;
    display: flex;
    align-items: center;
    
}

.bottom-info>div img{
    height: 3.5vh;
    margin-right:2vw;
    
}
.bottom-info>div:nth-child(even){
    margin-left:0.5vw;
}

.twitter + p{
    color: #979797;
} 
.twitter{
    opacity: 0.5;
}
.dinamic-not-available{
    color:var(--not-available);
}

.transparent-img{
    opacity: 0.5;
}
.paraf-link{
    width: 100%;
}
.blog-link {
    width: 78%;
    text-decoration: none;
    color:var(--paragraf-color);
    display: block;
    overflow-wrap: break-word;
}


@media  screen and (max-width:768px) {
     h1{
        line-height: normal;
    }
     .search-conteiner{
        width: 80%;
    }

     .main-info{
        flex-direction: column;
    }
    .main-info p{
        margin-top:4vh;
    }
    .joined{
        margin-left:0;
    }
    .joined p{
        text-align: left;
        margin-left: 15vw;
        width: 100%;
    }

     .left-image{
        width: 0;
        
    }
    .right-content {
        margin-left:10vw;
    }

    .main-info>div:nth-of-type(1){
       margin-left:15vw;
    }

    .left-image img{
    width: 12%;
    height: auto;
    position: absolute;
    top: 33vh;
    left: 20vw;
    border-radius: 50%;
  
}
.followers {
    height: 18%;
}
.bottom-info>div img{
    height: 3vh;
}
.bottom-info{
    height: 18%;
}
    
}

@media  screen and (min-width:320px) and (max-width:480px) {
     .search-conteiner{
        width: 90%;
        height: auto;
        margin-top:4vh;
    }
    .main {
        align-items: flex-start;
        height: auto;
    }
    h1{
        font-size: 4vh;
    }
    p{
        font-size: 3vh;
    }
    .github-info {
        height: 100vh;
        margin-bottom: 15vh;
    }
    .change-theme{
        font-size: 2.2vh;
    }
    .search-box{
        height: 10vh;
    }
    .search-box>div:first-of-type{
        width: 100%;
       
       
    }
    .search-box>div:first-of-type img{
        width: 20px;
        height: auto;
    }
    .search-box input {
        font-size:2.8vh;
        width: 80%;
    }
    .search-box button{
        width: 18vw;
        font-size:2.6vh
    }
    .main-info{
        margin-top:6vh;
       flex-direction: column;
       flex-wrap: nowrap;
       min-height: 25%;
        
    }
    .main-info p{
        margin-top:3vh;
        margin-left:3vw;
        margin-bottom: 3vh;
    }

    .main-info>div:nth-of-type(1){
        margin-left: 22vw;
    }
    .right-content{
        width: 95vw;
        height: auto;
        /* margin-bottom: 3vh; */
       
       margin: 0;
    }
    .joined{
        width: 100%;
    }
    .joined p{
        margin-top:0;
        margin-left:22vw;
    }

     .left-image img{
         width: 16%; 
         top:30vh;
         left:8vw;
     }
     .followers{
         height: 15%;
         width: 90%;
         margin-left:3vw;
     }
     .bottom-info {
        display: block;
        margin-left:3vw;
        height: auto;
        margin-top: 6vh;
     }
     .bottom-info>div{
         margin-bottom: 2vh;
     }
    .search-result{
        font-size: 2.2vw;
        margin-right: 1vw;
        width: 15vw;
        height: auto;
      
    }
    .bottom-info>div:nth-child(even) {
    margin-left: 0;
}
     .bottom-info>div {
    margin-bottom: 3vh;
}
.bottom-info>div img{
    height: 5vh;
}
.blog-link{
    overflow-wrap:normal;
}
}
@media  screen and (max-width:320px) {
    .blog-link{
    overflow-wrap:break-word;
}
.bottom-info>div{
    width: 100%;
}
.blog-link{
    width: 80%;
}
.search-box input{
    font-size: 3vw;
}
.search-box button{
    font-size: 2vh;
}
}






